:root {
    --electric-red: #E30004;
    --ferrari-red: #FF2A02;
    /* white */
    --cultured: #F4F5F6;
    --vampire-black: #0A0A0A;
    /* black */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 10px 10px;
}

header nav {
    display: inline;
    padding: 0 0 0 70px;
}

header nav a {
    padding: 0 8px;
    text-decoration: none;
}

main {
    width: 100vmax;
    height: 100vmax;
    background-image: url("../assets/bg-clean.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}

.nav-container {
    position: absolute;
    margin: 150px;
    display: block;
    width: min-content;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    font-size: 48px;
    text-decoration: none;
    background-color: rgb(255, 255, 255, .1);
    color: white;
}

.footer-container {
    padding: 20px 0;
    text-align: center;
    background-color: var(--cultured);
}

.footer-container a {
    text-decoration: none;
    font-size: 12px;
    color: var(--vampire-black);
}

.footer-container h4 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}