<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/vue@3"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="./css/mobile.css">
    <link rel="stylesheet" href="./css/popup.css">

    <title>Covercar Cubreasientos</title>
</head>
<body>

    
    <main id="app">
        <header>
            <img :src="main_bg_image" alt="Covercar Logo" width="150">
    
            <nav>
                <a href="#design">Diseña</a>
                <a href="#">Cotiza</a>
                <a href="#contact">Contacto</a>
            </nav>
        </header>

        <section class="bg-image"></section>
        
        <section class="steps-numbers">
            <p class="step">1</p>
            <p class="step">2</p>
        </section>
        
        <section class="steps-name">
            <p>Diseña</p>
            <p>Cotiza</p>
        </section>
        
        <!-- Promo video -->
        <section>
            <video class="viewer" controls>
                <source src="./assets/videos/promo.mp4" type="video/mp4">
            </video>
        </section>

        <section class="custom_made">
            <p>Fabricamos {{ product }} a la medida, todas las marcas.</p>
            <img class="patterns_icon" :src="custom_made_patterns_icon" alt="">
        </section>
        
        <section id="design" class="seat">
            <p class="design_title">{{ design_title }}</p>

            <img :src="imagePath" alt="">

            <p>Tonos</p>
            <div class="seat_palette">

                <p v-for="combination in seatColorCombinations"
                    @click="setColorCombination(combination.imagePath)"
                    :class="combination.class"></p>
            </div>

            <!-- <div>
                <p>Materiales</p>
                <ul>
                    <li v-for="material in materials" :key="material.id">{{ material.name }}</li>
                </ul>
            </div> -->

        </section>

        <section id="contact" class="contact">
            <p>Contacto</p>

            <a class="contact_email" href="mailto:">{{ cs_email }}</a>
            <p class="contact_phone">Telefono: (55) 1234 0000</p>

            <p class="contact_days">Lunes - Viernes</p>
            <p class="contact_hours">9am - 7pm</p>

            <p class="contact_days contact_sat">Sabado</p>
            <p class="contact_hours sat_hours">9am - 4pm</p>


            <a href="https://www.facebook.com/CubreasientosCoverCar"><img src="./assets/images/f_logo_RGB-Blue_58.png" alt="Facebook Link"  width="25px"></a>
        </section>
    </main>
    
    <footer class="footer-container">
        <nav>
            <h4>Mas Informacion</h4>
            <!-- Trigger/Open The Modal -->
            <a href="#" id="myBtn">Términos y condiciones.</a>
            <br>
            <a href="#">Aviso de Privacidad.</a>
            <br>
            <a href="">Politicas de Entrega, Cambios y Devoluciones.</a>
        </nav>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Términos y condiciones de uso del Sitio
                    <br><br>
                    Versión vigente: 16 de Febrero, 2022 
                    <br><br>
                    1- Covercar 
                    <br><br>
                    Covercar es una compañía de accesorios automotrices que ofrece servicios de fabricacion e instalacion de cubreasientos. 
                    <br><br>
                    Los servicios que ofrece Covercar en el sitio www.covercar.mx (de ahora en más: “Sitio”) están diseñados de forma que permita a las personas personalizar el diseno de su producto conforme a las opciones presentadas. 
                    <br><br>
                    2- Términos y Condiciones 
                    <br><br>
                    Estos términos y condiciones y los anexos que explican los servicios de Covercar en el Sitio (de ahora en más: “Términos y Condiciones”) regulan la relación entre Covercar y las personas que usan sus servicios (“Personas Usuarias”).  
                    <br><br>
                    Las Personas Usuarias aceptan estos Términos y Condiciones desde el momento en que visitan y se registran en el Sitio y solicitan los servicios del Sitio. 
                    <br><br>
                    Cuando debamos hacer cambios importantes en nuestros servicios, publicaremos las modificaciones con 10 días corridos de anticipación para que las Personas Usuarias puedan revisarlas y seguir usando el Sitio. En ningún caso afectarán las operaciones que ya hayan finalizado. 
                    <br><br>
                    Las Personas Usuarias que no tengan obligaciones pendientes con Covercar, podrán finalizar la relación con Covercar cancelando su cuenta. 
                    <br><br>
                    3- Capacidad 
                    <br><br>
                    Podrán usar nuestros servicios las personas mayores de edad que tengan capacidad legal para contratar.  
                    <br><br>
                    Quien use el Sitio en representación de una empresa deberá tener capacidad para contratar a nombre de ella. Además, para poder usar la cuenta, la Persona Usuaria debe encontrarse activa.  
                    <br><br>
                    4- Registro y Cuenta 
                    <br><br>
                    Quien quiera usar nuestros servicios, deberá completar el formulario de registro con los datos que le sean requeridos. Al completarlo, se compromete a hacerlo de manera exacta, precisa y verdadera y a mantener sus datos siempre actualizados. La Persona Usuaria será la única responsable de la certeza de sus datos de registro. Sin perjuicio de la información brindada en el formulario, podremos solicitar y/o consultar información adicional para corroborar la identidad de la Persona Usuaria.  
                    <br><br>
                    La cuenta es personal, única e intransferible, es decir que bajo ningún concepto se podrá vender o ceder a otra persona. Se accede a ella con la clave personal de seguridad que haya elegido y que deberá mantener bajo estricta confidencialidad. Por eso, la Persona Usuaria será la única responsable por las operaciones que se realicen en su cuenta. En caso de detectar un uso no autorizado de su cuenta, deberá notificar de forma inmediata y fehaciente a Covercar.  
                    <br><br>
                    Podremos rechazar una solicitud de registro o bien cancelar un registro ya aceptado, sin que esto genere derecho a un resarcimiento. No podrán registrarse nuevamente en el Sitio las Personas Usuarias que hayan sido inhabilitadas previamente. Tampoco podrán registrarse quienes estén incluidos o relacionados a personas incluidas en listas nacionales o internacionales de sanciones. Conocé más.  
                    <br><br>
                    Además, en caso de detectar el uso de más de una cuenta, podremos aplicar retenciones, débitos y/o cualquier otra medida si consideramos que ese accionar puede perjudicar al resto de las personas que usan el Sitio o a Covercar, más allá de las sanciones que pudieran corresponder.  
                    <br><br>
                    5- Privacidad de datos 
                    <br><br>
                    En Covercar hacemos un uso responsable de la información personal, protegiendo la privacidad de las Personas Usuarias que nos confiaron sus datos y tomando las medidas necesarias para garantizar la seguridad en nuestro Sitio. Conocé más sobre nuestra Declaración de Privacidad. 
                    <br><br>
                    6- Sanciones 
                    <br><br>
                    En caso que la Persona Usuaria incumpliera una ley o los Términos y Condiciones, podremos advertir, suspender, restringir o inhabilitar temporal o definitivamente su cuenta, sin perjuicio de otras sanciones que se establezcan en las reglas de uso particulares de los servicios de Covercar.  
                    <br><br>
                    7- Responsabilidad 
                    <br><br>
                    Covercar será responsable por cualquier defecto en la prestación de su servicio, en la medida en que le sea imputable y con el alcance previsto en las leyes vigentes.  
                    <br><br>
                    8- Tarifas 
                    <br><br>
                    Covercar podrá cobrar por sus servicios y la Persona Usuaria se compromete a pagarlos a tiempo.  
                    <br><br>
                    Podremos modificar las tarifas en cualquier momento con el debido preaviso establecido en la cláusula 2 de estos Términos y Condiciones. De la misma manera, podremos modificar las tarifas temporalmente por promociones en favor de las Personas Usuarias.  
                    <br><br>
                    La Persona Usuaria autoriza a Covercar a retener y/o debitar los fondos existentes y/o futuros de su cuenta de pago y/o de las cuentas bancarias que haya registrado en ella, para saldar las tarifas impagas o cualquier otra deuda que pudiera tener.  
                    <br><br>
                    Para conocer el detalle de las tarifas de cada servicio, las Personas Usuarias deberán consultar los términos y condiciones correspondientes.  
                    <br><br>
                    En todos los casos se emitirá la factura de conformidad con los datos fiscales que las personas tengan cargados en su cuenta.  
                    <br><br>
                    9- Propiedad Intelectual 
                    <br><br>
                    Covercar y/o sus sociedades relacionadas son propietarias de todos los derechos de propiedad intelectual sobre sus sitios, todo su contenido, servicios, productos, marcas, nombres comerciales, logos, diseños, imágenes, frases publicitarias, derechos de autor, dominios, programas de computación, códigos, desarrollos, software, bases de datos, información, tecnología, patentes y modelos de utilidad, diseños y modelos industriales, secretos comerciales, entre otros (“Propiedad Intelectual”) y se encuentran protegidos por leyes nacionales e internacionales. 
                    <br><br>
                    Aunque Covercar otorga permiso para usar sus productos y servicios conforme a lo previsto en los Términos y Condiciones, esto no implica una autorización para usar su Propiedad Intelectual, excepto consentimiento previo y expreso de Covercar y/o sus sociedades vinculadas. En cualquier caso, los usuarios compradores que usen dichos productos y servicios no podrán utilizar la Propiedad Intelectual de Covercar de una manera que cause confusión en el público y deberán llevar a cabo su actividad bajo una marca o nombre comercial propio y distintivo, que no resulte confundible con la marca Covercar. 
                    <br><br>
                    Está prohibido usar nuestros productos o servicios para fines ilegales, realizar cualquier tipo de ingeniería inversa u obras derivadas, utilizar herramientas de búsqueda o de extracción de datos y contenidos de nuestra plataforma para su reutilización y/o crear bases de datos propias que incluyan en todo o en parte nuestro contenido sin nuestra expresa autorización. Está también prohibido el uso indebido, sin autorización y/o contrario a la normativa vigente y/o que genere confusión o implique uso denigratorio y/o que le cause perjuicio, daños o pérdidas a Covercar y/o a sus sociedades relacionadas. La utilización de los productos y servicios de Covercar tampoco implica la autorización para usar propiedad intelectual de terceros que pueda estar involucrada, cuyo uso quedará bajo exclusiva responsabilidad del usuario.  
                    En caso que una Persona Usuaria o cualquier publicación infrinja la Propiedad Intelectual de Covercar o de terceros, Covercar podrá remover dicha publicación total o parcialmente), sancionar al usuario conforme a lo previsto en estos Términos y Condiciones y ejercer las acciones extrajudiciales y/o judiciales correspondientes.
                    <br><br>
                    10- Indemnidad 
                    <br><br>
                    La Persona Usuaria mantendrá indemne a Covercar y sus sociedades relacionadas, así como a quienes la dirigen, suceden, administran, representan y/o trabajan en ellas, por cualquier reclamo administrativo o judicial iniciado por otras Personas Usuarias, terceros o por cualquier Organismo, relacionado con sus actividades en el Sitio. 
                    En virtud de esa responsabilidad, podrán realizar compensaciones, retenciones u otras medidas necesarias para la reparación de pérdidas, daños y perjuicios, cualquiera sea su naturaleza.</p>
                </div>
                
            </div>
        </footer>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountApp = app.mount('#app')
    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
    
</body>
</html>